@import url("https://fonts.googleapis.com/css?family=Raleway");
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}

body {
    background-color: #b4ece3;
    box-sizing: border-box;
}

h1 {
    color: rgb(14, 51, 51);
    font-size: 30px;
    font-weight: 600;
}

.main-title {
    color: rgb(14, 51, 51);
    font-size: 30px;
    font-weight: 600;
}

.bg-image {
    background-image: url('https://images.pexels.com/photos/1097930/pexels-photo-1097930.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    color: #37e2d5;
    font-family: cursive;
}

.project-container {
    /* height: 300px; */
    /* width: 280px; */
    width: 100% !important;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    /* justify-content: center; */
    /* align-items: center; */
}

.project-img {
    height: 260px;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 300px; */
    /* margin: auto; */
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

.developer-institute {
    color: black;
    font-family: "Raleway";
    /* font-size: 1rem;  check how to connect the font-size with the whole paragraph */
}

.developer-institute:hover {
    color: rgb(250, 162, 177);
}

.card-img-top {
    height: 200px;
}

.card {
    padding: 0;
}

.see-more {
    margin-top: 40px;
}

.img-profile {
    width: 300px;
    height: 300px;
}

.mask {
    padding-left: 25%;
    padding-right: 25%;
}

.prevNexyBtns {
    height: 83px;
}

.appDesription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.project-title {
    color: #a0749b;
    font-size: 1.4rem;
    text-align: center;
}

@media (max-width: 575.98px) {
    body {
        background-color: #C1EFFF;
    }
    .project-container {
        justify-content: center !important;
        width: auto !important;
    }
    .main-title {
        width: 400px;
        font-size: 28px;
        color: white
    }
    .title {
        color: #87f5ec;
        font-size: 20px;
    }
    h1 {
        margin-top: 10px;
    }
    .bg-image {
        justify-content: center !important;
        width: auto !important;
        padding: 0;
        margin-top: 40px;
        height: 200px;
        width: 300px;
        margin: auto;
        background-image: url('https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
}