@import url("https://fonts.googleapis.com/css?family=Raleway");
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}

body {
    background-color: #b4ece3;
    box-sizing: border-box;
}

h1 {
    color: rgb(14, 51, 51);
}

.title {
    color: #2bc4ad;
    font-family: cursive;
}

.portfolio-imgs {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.developer-institute {
    color: black;
    font-family: "Raleway";
    /* font-size: 1rem;  check how to connect the font-size with the whole paragraph */
}

.developer-institute:hover {
    color: rgb(250, 162, 177);
}

.card-img-top {
    height: 200px;
}

.card {
    padding: 0;
}

.img-profile {
    width: 300px;
    height: 300px;
}

#crousel-imgs {
    max-height: 600px;
}

.mask {
    padding-left: 25%;
    padding-right: 25%;
}

.slideTitle {
    color: #a0749b;
    font-size: 2rem;
}

.prevNexyBtns {
    height: 83px;
}

@media screen and (max-width: 992px) {
    .about-me-title {
        text-align: center;
        margin-top: 15px;
    }
}