@import url("https://fonts.googleapis.com/css?family=Raleway");
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}

body {
    background-color: #b4ece3;
    box-sizing: border-box;
}

h1 {
    color: rgb(14, 51, 51);
    font-size: 30px;
    font-weight: 600;
}

.title {
    color: #37e2d5;
    font-family: cursive;
}

.projects-container {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.project-container {
    height: 300px;
    width: 280px;
}

.project-img {
    height: 260px;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    width: 300px;
    /* margin: auto; */
    border-radius: 10px;
}

.developer-institute {
    color: black;
    font-family: "Raleway";
    /* font-size: 1rem;  check how to connect the font-size with the whole paragraph */
}

.developer-institute:hover {
    color: rgb(250, 162, 177);
}

.card-img-top {
    height: 200px;
}

.card {
    padding: 0;
}

.see-more {
    margin-top: 40px;
}

.img-profile {
    width: 300px;
    height: 300px;
}

#crousel-imgs {
    max-height: 600px;
}

.mask {
    padding-left: 25%;
    padding-right: 25%;
}

.slideTitle {
    color: #a0749b;
    font-size: 2rem;
}

.prevNexyBtns {
    height: 83px;
}

.appDesription {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .about-me-title {
        text-align: center;
        margin-top: 15px;
    }
    .projects-container {
        flex-wrap: nowrap;
        flex-direction: column;
        /* justify-content: center; */
    }
    .project-container {
        width: 320px;
    }
    .appDesription {
        margin: auto;
        margin-bottom: 10px;
    }
}